src/flows/Create_Tasks_By_Cases.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_To_Tasks_List</name>
        <label>Add To Tasks List</label>
        <locationX>602</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>New_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Task_Element</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy info to task from case.</description>
        <name>Case_To_Task</name>
        <label>Case To Task</label>
        <locationX>602</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>New_Task_Element.Create_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterated_Case.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task_Element.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Tasks_List</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Tasks By Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks By Cases</label>
    <loops>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>401</locationX>
        <locationY>140</locationY>
        <assignNextValueToReference>Iterated_Case</assignNextValueToReference>
        <collectionReference>Contact_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Case_To_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>400</locationX>
        <locationY>329</locationY>
        <inputReference>New_Tasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact_Cases</name>
        <label>Contact Cases</label>
        <locationX>192</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>15</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Contact_Cases</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Iterated_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>New_Task_Element</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>New_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
